@use "../../GlobalStyling/general";
@use "../../GlobalStyling/mixin";
@use "../../GlobalStyling/colors";
.allInvoices {
  margin: 4rem 0;

  &__button {
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    padding: 1rem;

    button {
      padding: 0.5rem 0.7rem;
      background-color: transparent;
      color: colors.$font-Title;
      font-weight: bold;
      border: none;
      cursor: pointer;
      transition: all 0.3s linear;
      border-radius: 0.5rem;

      &:hover {
        background-color: #ffffff;
      }
    }
  }
}

.width600 {
  max-width: 70vw;
  margin: 0 auto;

  @media (max-width: general.$lg) {
    max-width: 75vw;
  }

  @media (max-width: general.$md) {
    max-width: none;
  }
}

.span-td {
  padding: 4px 1rem;
  border-radius: 0.4rem;
}

.status-draft {
  color: #959595;
  background-color: #f9fafa;
}

.status-sent {
  color: #5eaa61;
  background-color: #f4fff5;
}

.status-paid {
  color: #569db2;
  background-color: #f3fbff;
}

.status-overdue {
  color: #c13e4b;
  background-color: #ffe7e8;
}

.status-void {
  color: #7b65af;
  background-color: #fcf6ff;
}

.noStatus {
  color: #c13e4b;
  background-color: #ffe7e8;
}
