@use "../../GlobalStyling/general";
@use "../../GlobalStyling/mixin";
@use "../../GlobalStyling/colors";
.allInvoices {
  margin: 4rem 0;

  &__button {
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    padding: 1rem;

    button {
      padding: 0.5rem 0.7rem;
      background-color: transparent;
      color: colors.$font-Title;
      font-weight: bold;
      border: none;
      cursor: pointer;
      transition: all 0.3s linear;
      border-radius: 0.5rem;

      &:hover {
        background-color: #ffffff;
      }
    }
  }
}

.span-td {
  padding: 4px 1rem;
  border-radius: 0.4rem;
}

.status-draft {
  color: #949494;
  background-color: #f8f9f9;
}

.status-sent {
  color: #5fa862;
  background-color: #e9fff0;
}

.status-paid {
  color: #568fb3;
  background-color: #f1f9ff;
}

.status-overdue {
  color: #c64d5a;
  background-color: #ffd6d9;
}

.status-void {
  color: #896eb1;
  background-color: #f6f0ff;
}

.noStatus {
  color: #c64d5a;
  background-color: #ffd6d9;
}
