@use "../../GlobalStyling/mixin";
@use "../../GlobalStyling/general";
@use "../../GlobalStyling/colors";

.invoiceTableNav {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 0;

  @media (max-width: general.$sm) {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &__search {
    flex: 1;
    input {
      background: url("../../../assets/searchIcon.svg");
      @include mixin.inputFiledsAddIcon;
      @include mixin.inputUpdateValue;
      border: none;
    }
  }

  .activeFilterSort {
    &::after {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      background-color: colors.$font-Title;
      border-radius: 50%;
      margin-right: 5px;
    }
  }

  &__filter {
    display: flex;
    position: relative;
    gap: 1rem;

    &-btn {
      @include mixin.inputUpdateValue;
      border: none;
      cursor: pointer;
    }
  }

  button {
    @include mixin.buttonDelete(
      "",
      12px 25px,
      #000000,
      rgba(0, 55, 255, 0.079),
      rgba(0, 55, 255, 0.153)
    );
  }
}

.over {
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
