@use "../../GlobalStyling/mixin";
@use "../../GlobalStyling/colors";

.tableFilter,
.tableSort {
  z-index: 9;
  position: absolute;
  top: 120%;

  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  color: colors.$font-Secound;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem 5px;
  gap: 2rem;

  &__status {
    select {
      @include mixin.inputUpdateValue;
      padding: 0.3rem 0.5rem;
      cursor: pointer;
    }
  }

  &__price {
    input {
      @include mixin.inputUpdateValue;
      padding: 0.3rem 0.5rem;
      width: 70px;
    }
  }

  &__date {
    input {
      @include mixin.inputUpdateValue;
      padding: 0.3rem 0.5rem;
    }
  }
}
