@use "../../GlobalStyling/colors";
@use "../../GlobalStyling/mixin";
@use "../../GlobalStyling/general";

// editEmployer Main container
// .employeesSettings {
// }

// EDIT USER COMPONENT // popup window container
.editEmployer {
  @include mixin.overflowScroll();
  width: 100%;
  height: 100%;
  // using flex in the main container just to make the form correct in the middle if I was using width and hight inside of the component then I will have problem with the view the top fileds won't show because of the heigh of the container !
  display: flex;
  align-items: center;
  justify-content: center;
}
