@use "../../GlobalStyling/colors";
@use "../../GlobalStyling/general";
@use "../../GlobalStyling/mixin";

.passwordResetForm__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &-title {
      color: colors.$font-Title;
      font-size: 1.5rem;
      font-weight: 500;
    }

    &-subTitle {
      color: colors.$font-Secound;
      font-size: 0.9rem;
    }
  }

  form {
    text-align: start;
    gap: 0.4rem;
    label {
      color: colors.$font-Secound;
      font-size: 0.9rem;
      font-weight: 300;
    }
    button {
      margin-top: 0.6rem;
    }
  }
}

.backlink {
  color: colors.$font-Secound;
  font-size: 0.8em;
  transition: general.$transition;

  &:hover {
    color: colors.$font-sectionTitle;
  }
}

// Success Prompt message when user submit rest form

.emailSend {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  h3 {
    font-weight: 500;
    color: colors.$font-Secound;
  }

  h4 {
    font-weight: 600;
    color: colors.$font-Title;
  }

  h5 {
    font-weight: 300;
    color: colors.$font-Secound;
  }
  h6 {
    font-weight: 300;
    color: colors.$font-Secound;
  }
}
