@use "../../GlobalStyling/mixin";

.cardSkeletonLoading {
  border: 1px solid #eee;
  padding: 1rem;
  width: 260px;
  height: 140px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // align-items: center;
  position: relative;

  p {
    @include mixin.skeletonColorsAnimation;
  }

  &__totalInovices {
    position: absolute;
    top: 19px;
    right: 20px;
    padding: 10px;
  }

  &__title {
    width: 40%;
    padding: 10px;
  }

  &__value {
    padding: 15px;
  }

  &__subTitle {
    padding: 10px;
    width: 70%;
  }
}
