@use "../../GlobalStyling/colors";
@use "../../GlobalStyling/general";
@use "../../GlobalStyling/mixin";

.editInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  padding: 1rem 0;

  &__title {
    color: colors.$font-Primary;
    font-weight: 700;
    font-size: 1.1rem;
    margin-right: 108px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 0.7em;

    label {
      font-size: 0.9rem;
      font-weight: 500;
      color: colors.$font-Primary;
    }

    input,
    select {
      @include mixin.inputUpdateValue;
    }

    button {
      margin: 1rem 0;
    }
  }
  &__error {
    color: colors.$error;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    img {
      width: 1rem;
    }
  }
}
