@use "../../GlobalStyling/colors";
@use "../../GlobalStyling/general";
@use "../../GlobalStyling/mixin";

.progressBar__wraper {
  @media (max-width: general.$lg) {
    transform: scale(0.8);
  }

  @media (max-width: general.$sm) {
    transform: scale(0.7);
  }
}

.step-wizard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.step-wizard-list {
  color: #333;
  border-radius: 10px;
  display: flex;
  // padding: 20px 10px;
  position: relative;
  z-index: 10;
}

.step-wizard-item {
  padding: 0 20px;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 170px;
  position: relative;
}

// Line
.step-wizard-item + .step-wizard-item:after {
  content: "";
  position: absolute;
  left: 0;
  top: 19px;
  background: colors.$multiForm-progressBar;
  width: 100%;
  height: 2px;
  transform: translateX(-50%);
  z-index: -10;
}
.progress-count {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 600;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  color: transparent;

  &::after {
    content: "";
    height: 40px;
    width: 40px;
    background: colors.$multiForm-progressBar;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -10;
  }

  // correct sign create
  &::before {
    content: "";
    height: 10px;
    width: 20px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%) rotate(-45deg);
    transform-origin: center center;
  }
}

// text label
.progress-label {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}
.active .progress-count:before,
.active ~ .step-wizard-item .progress-count:before {
  display: none;
}

// circle
.active ~ .step-wizard-item .progress-count:after {
  height: 10px;
  width: 10px;
}

//label opacity
.active ~ .step-wizard-item .progress-label {
  opacity: 0.5;
}

// Color inside of the cirle
.active .progress-count:after {
  background: #fff;
  border: 2px solid colors.$multiForm-progressBar;
}

// Number inside of the circle
.active .progress-count {
  color: colors.$multiForm-progressBar;
}
