@use "./general";
@use "./colors";
@use "./mixin";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: colors.$background;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  display: block;
}

a {
  color: colors.$font-Secound;
  text-decoration: none;
}
