@use "../GlobalStyling/colors";
@use "../GlobalStyling/mixin";
@use "../GlobalStyling/general";

.popUp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 50%;
  height: 70%;
  z-index: 12;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 12;
  transition: all 0.5s;
}

.xsPopup {
  width: 20%;
  height: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.smPopup {
  width: 30vw;
  height: 50vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: general.$lg) {
    width: 40vw;
  }

  @media (max-width: general.$md) {
    width: 50vw;
  }

  @media (max-width: general.$sm) {
    width: 80vw;
    height: 55vh;
  }
}

.mdPopup {
  width: 50%;
  height: 70%;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: general.$md) {
    width: 90%;
    height: 70%;
  }
}
