@use "../GlobalStyling/mixin";
@use "../GlobalStyling/colors";
@use "../GlobalStyling/general";

.invoiceDetails {
  height: 100%;
  width: 100%;
  @include mixin.overflowScroll;
  &__title {
    height: 5rem;
    background-color: colors.$background-secondary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: colors.$font-Title;

    h3 {
      margin-left: 2rem;
      font-weight: 500;
    }

    &-status {
      color: #959595;
      font-weight: 500;
    }

    &-invoiceDate {
      height: 100%;
      display: flex;
      align-items: end;

      p {
        font-size: 0.8rem;
        padding: 10px;
      }
    }
  }

  //   buyer part
  &__buyer {
    padding: 1rem 0;
    border-bottom: 1px solid colors.$border-Primary;

    ul {
      padding: 0 0.5rem;
      display: flex;
      flex-wrap: wrap;
      gap: 1.25rem;

      li {
        width: calc(50% - 10px);
        font-size: 12px;
        color: colors.$font-Title;

        span {
          font-size: 14px;
          color: colors.$font-Primary;
          font-weight: 500;
        }
      }
    }
  }

  // Invoice description
  &__description {
    padding: 1rem 0;
    border-bottom: 1px solid colors.$border-Primary;

    &-wrap {
      padding: 0 0.5rem;

      &-title {
        padding-bottom: 0.5rem;
        margin-left: 2rem;
        font-weight: 300;
        font-size: 1.1rem;
        color: colors.$font-Title;
        text-align: center;
      }

      &-price {
        color: colors.$font-Primary;

        padding-right: 0.5rem;
        h5 {
          text-align: end;
        }
        h3 {
          font-size: 1rem;
          font-weight: 600;
          gap: 0.5rem;
          display: flex;
          justify-content: end;
        }
      }

      ul {
        position: relative;
        li {
          padding: 0.7rem 0;
          font-size: 12px;
          color: colors.$font-Title;

          span {
            font-size: 14px;
            color: colors.$font-Primary;
            font-weight: 500;
            display: flex;
          }
        }

        // When user Click Edit
        textArea,
        input {
          border: none;
          outline: none;
          border-bottom: 1px solid colors.$border-Primary;
        }

        img {
          width: 20px;
          cursor: pointer;
        }

        .updateIcon {
          position: absolute;
          top: 30%;
          left: 10%;
          transform: translate(50%, 50%);
        }

        .editIcon {
          position: absolute;
          top: 30%;
          left: 30%;
          transform: translate(50%, 50%);
        }
      }
    }
  }

  // Action Button
  &__actionButton {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    h3 {
      font-weight: 300;
      font-size: 1.1rem;
      color: colors.$font-Title;
    }

    &-wrap {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
}

.toolTipEditDetails {
  @include mixin.tooltip(
    $text: "edit details",
    $top: 25px,
    $left: 17%,
    $topArrow: 44px,
    $leftArrow: 15.7%
  );
}

.toolTipSaveDetails {
  @include mixin.tooltip(
    $text: "save details",
    $top: 25px,
    $left: 38%,
    $topArrow: 44px,
    $leftArrow: 36.6%
  );
}

@media (max-width: general.$sm) {
  .invoiceDetails {
    &__title {
      flex-direction: column;

      h3 {
        margin-left: 0;
      }

      &-invoiceDate {
        align-items: flex-end;
      }
    }

    //   body part
    &__buyer {
      ul {
        padding: 0 0.2rem;

        span {
          display: flex;
        }
      }
    }

    // Invoice description
    &__description {
      &-wrap {
        padding: 0 0.2rem;
        h3 {
          margin-left: 0;

          &:last-child {
            justify-content: flex-end;
          }
        }

        ul {
          .updateIcon {
            position: absolute;
            top: 30%;
            left: 40%;
          }

          .editIcon {
            position: absolute;
            top: 30%;
            left: 60%;
          }
        }

        span {
          display: flex;
        }
      }
    }
  }

  .toolTipEditDetails {
    @include mixin.tooltip(
      $text: "edit details",
      $top: 25px,
      $left: 55%,
      $topArrow: 45px,
      $leftArrow: 53%
    );
  }

  .toolTipSaveDetails {
    @include mixin.tooltip(
      $text: "save details",
      $top: 35px,
      $left: 70%,
      $topArrow: 50px,
      $leftArrow: 69%
    );
  }
}
