@use "../GlobalStyling/general";
@use "../GlobalStyling/colors";
@use "../GlobalStyling/mixin";

.loginForm {
  // background: colors.$background;
  background-image: linear-gradient(
      44deg,
      rgba(114, 114, 114, 0.02) 0%,
      rgba(114, 114, 114, 0.02) 86%,
      transparent 86%,
      transparent 87%,
      rgba(147, 147, 147, 0.02) 87%,
      rgba(147, 147, 147, 0.02) 91%,
      rgba(63, 63, 63, 0.02) 91%,
      rgba(63, 63, 63, 0.02) 100%
    ),
    linear-gradient(
      78deg,
      rgba(51, 51, 51, 0.02) 0%,
      rgba(51, 51, 51, 0.02) 51%,
      transparent 51%,
      transparent 74%,
      rgba(43, 43, 43, 0.02) 74%,
      rgba(43, 43, 43, 0.02) 94%,
      rgba(36, 36, 36, 0.02) 94%,
      rgba(36, 36, 36, 0.02) 100%
    ),
    linear-gradient(
      166deg,
      rgba(152, 152, 152, 0.02) 0%,
      rgba(152, 152, 152, 0.02) 16%,
      transparent 16%,
      transparent 51%,
      rgba(109, 109, 109, 0.02) 51%,
      rgba(109, 109, 109, 0.02) 93%,
      rgba(132, 132, 132, 0.02) 93%,
      rgba(132, 132, 132, 0.02) 100%
    ),
    linear-gradient(
      80deg,
      rgba(136, 136, 136, 0.02) 0%,
      rgba(136, 136, 136, 0.02) 28%,
      transparent 28%,
      transparent 35%,
      rgba(226, 226, 226, 0.02) 35%,
      rgba(226, 226, 226, 0.02) 95%,
      rgba(171, 171, 171, 0.02) 95%,
      rgba(171, 171, 171, 0.02) 100%
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  text-align: center;
  // height: calc(100vh - 6rem);
  height: 100vh;

  &__company {
    // border: 1px solid red;
    display: flex;
    align-items: center;
    gap: 2rem;

    &_logo {
      border: 2px solid colors.$font-sectionTitle;
      border-radius: 50%;
      padding: 1rem;
      img {
        width: 8rem;
      }
    }

    &_text {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      text-align: justify;
      color: colors.$font-Title;

      &-title {
        font-size: 5rem;
        font-weight: 600;
        letter-spacing: 8px;

        span {
          color: colors.$font-sectionTitle;
        }
      }

      &-slogan {
        font-size: 0.8rem;
        text-transform: capitalize;
        font-weight: 200;
        letter-spacing: 4.5px;
      }
    }

    @media (max-width: general.$sm) {
      flex-direction: column;
      gap: 0;

      &_logo {
        margin-top: 0rem;
      }

      &_text {
        text-align: center;

        &-title {
          font-size: 4rem;
        }
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

    input[type="email"] {
      background: url(../../assets/userIcon.svg) no-repeat;
      background-color: white;
      @include mixin.inputLogin();
    }

    input[type="password"] {
      background: url(../../assets//hidePassword.svg) no-repeat;
      background-color: white;
      @include mixin.inputLogin();
    }
    input[type="text"] {
      background: url(../../assets//passwordIcon.svg) no-repeat;
      background-color: white;
      @include mixin.inputLogin();
    }

    .passwordShow {
      position: relative;

      p {
        background: none;
        border: none;
        position: absolute; // Adjust positioning as needed
        top: 0.6rem;
        right: 5px;
        transform: translate(50% -50%); // Adjust positioning as needed
        opacity: 0;
        cursor: pointer;
      }
    }

    button {
      @include mixin.gradientBackground--btn-action(
        rgba(198, 205, 119, 0),
        rgba(86, 85, 85, 0.182),
        rgba(196, 196, 196, 0.312),
        rgba(86, 85, 85, 0.601)
      );
      color: white;
    }
  }
}
